.group-details {
  display: flex;
}

@media (max-width: 720px) {
  .group-details .sidebar {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 10;
  }
  .group-details .sidebar.active {
    display: flex;
  }
  .group-details .chat {
    position: absolute;
    width: 100%;
  }
}
